:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
  font-weight: bold;
  background: linear-gradient(135deg, #1c92d2, #f2fcfe);
  transition: opacity 0.3s ease;
}

button:hover{
  opacity: 0.8;
}
input{
  font-size: 1.5em;
  padding: 0.3em 2em;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

.search-result-container{
  height: 400px;
  overflow: auto;
  color: white;
  max-height: 30vh;
}

.result-card{
  height: 20px;
  cursor: pointer;
  margin: 1em 0;
}

.result-text {
  padding: 1rem;
  font-size: 1rem;
  margin: 0;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

pre{
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: Inter, Helvetica, Arial, sans-serif;
  color:aquamarine;
  padding: 0 1em;
  text-align: left;
  max-width: 600px;
}

.ai-response-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, Helvetica, Arial, sans-serif;
  padding: 0 1em;
  color: aquamarine;
}


.result-text:hover{
  color: orange;
  font-weight: bold;

}